<%= render 'articles/components/longer-featured', article: @highlights[0] %>

<div class="row mb-2">
  <%= render 'articles/components/medium-featured', article: @highlights[1] %>
  <%= render 'articles/components/medium-featured', article: @highlights[2] %>
</div>

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From the Firehose
    </h3>
    <p>
      <%= link_to 'Novo article', new_article_path, class: 'btn btn-primary' %>
    </p>
    <%= render @articles %>
    <%= render 'articles/components/pagination' %>
  </div>
  <%= render 'articles/components/right-side' %>
</div>
